<?xml version="1.0" encoding="UTF-8"?>
<KeePassFile>
    <Meta>
    <Generator>MacPass</Generator>
    <DatabaseName>Database</DatabaseName>
    <DatabaseNameChanged>2017-02-24T12:05:17Z</DatabaseNameChanged>
    <DatabaseDescription/>
    <DatabaseDescriptionChanged>2017-02-24T12:05:17Z</DatabaseDescriptionChanged>
    <DefaultUserName/>
    <DefaultUserNameChanged>2017-02-24T12:05:17Z</DefaultUserNameChanged>
    <MaintenanceHistoryDays>365</MaintenanceHistoryDays>
    <Color/>
    <MasterKeyChanged/>
    <MasterKeyChangeRec>-1</MasterKeyChangeRec>
    <MasterKeyChangeForce>-1</MasterKeyChangeForce>
    <MemoryProtection>
        <ProtectTitle>False</ProtectTitle>
        <ProtectUserName>False</ProtectUserName>
        <ProtectPassword>True</ProtectPassword>
        <ProtectURL>False</ProtectURL>
        <ProtectNotes>False</ProtectNotes>
    </MemoryProtection>
    <RecycleBinEnabled>False</RecycleBinEnabled>
    <RecycleBinUUID>AAAAAAAAAAAAAAAAAAAAAA==</RecycleBinUUID>
    <RecycleBinChanged>2017-02-24T12:05:17Z</RecycleBinChanged>
    <EntryTemplatesGroup>AAAAAAAAAAAAAAAAAAAAAA==</EntryTemplatesGroup>
    <EntryTemplatesGroupChanged>2017-02-24T12:05:17Z</EntryTemplatesGroupChanged>
    <HistoryMaxItems>10</HistoryMaxItems>
    <HistoryMaxSize>6291456</HistoryMaxSize>
    <LastSelectedGroup>AAAAAAAAAAAAAAAAAAAAAA==</LastSelectedGroup>
    <LastTopVisibleGroup>AAAAAAAAAAAAAAAAAAAAAA==</LastTopVisibleGroup>
    <Binaries/>
    <CustomData/>
    </Meta>
    <Root>
        <Group>
            <UUID>+UwI69kxTUKGvj8+Rb4rzg==</UUID>
            <Name>General</Name>
            <Notes/>
            <IconID>48</IconID>
            <Times>
                <LastModificationTime>2017-02-24T12:05:17Z</LastModificationTime>
                <CreationTime>2017-02-24T12:05:17Z</CreationTime>
                <LastAccessTime>2017-02-24T12:05:17Z</LastAccessTime>
                <ExpiryTime>4001-01-01T00:00:00Z</ExpiryTime>
                <Expires>False</Expires>
                <UsageCount>0</UsageCount>
                <LocationChanged>2017-02-24T12:05:17Z</LocationChanged>
            </Times>
            <IsExpanded>True</IsExpanded>
            <DefaultAutoTypeSequence/>
            <EnableAutoType>null</EnableAutoType>
            <EnableSearching>null</EnableSearching>
            <LastTopVisibleEntry>AAAAAAAAAAAAAAAAAAAAAA==</LastTopVisibleEntry>
            <Group>
                <UUID>mArbcCsLRNu821mxHG95oA==</UUID>
                <Name>Windows</Name>
                <Notes/>
                <IconID>38</IconID>
                <Times>
                    <LastModificationTime>2017-02-24T12:05:17Z</LastModificationTime>
                    <CreationTime>2017-02-24T12:05:17Z</CreationTime>
                    <LastAccessTime>2017-02-24T12:05:17Z</LastAccessTime>
                    <ExpiryTime>4001-01-01T00:00:00Z</ExpiryTime>
                    <Expires>False</Expires>
                    <UsageCount>0</UsageCount>
                    <LocationChanged>2017-02-24T12:05:17Z</LocationChanged>
                </Times>
                <IsExpanded>False</IsExpanded>
                <DefaultAutoTypeSequence/>
                <EnableAutoType>null</EnableAutoType>
                <EnableSearching>null</EnableSearching>
                <LastTopVisibleEntry>AAAAAAAAAAAAAAAAAAAAAA==</LastTopVisibleEntry>
            </Group>
            <Group>
                <UUID>h7eT4AjhSwujJjTFZ8uhHQ==</UUID>
                <Name>Network</Name>
                <Notes/>
                <IconID>3</IconID>
                <Times>
                    <LastModificationTime>2017-02-24T12:05:17Z</LastModificationTime>
                    <CreationTime>2017-02-24T12:05:17Z</CreationTime>
                    <LastAccessTime>2017-02-24T12:05:17Z</LastAccessTime>
                    <ExpiryTime>4001-01-01T00:00:00Z</ExpiryTime>
                    <Expires>False</Expires>
                    <UsageCount>0</UsageCount>
                    <LocationChanged>2017-02-24T12:05:17Z</LocationChanged>
                </Times>
                <IsExpanded>False</IsExpanded>
                <DefaultAutoTypeSequence/>
                <EnableAutoType>null</EnableAutoType>
                <EnableSearching>null</EnableSearching>
                <LastTopVisibleEntry>AAAAAAAAAAAAAAAAAAAAAA==</LastTopVisibleEntry>
            </Group>
            <Group>
                <UUID>Cg5MHDSqQeWRUI3BmWqxrg==</UUID>
                <Name>Internet</Name>
                <Notes/>
                <IconID>1</IconID>
                <Times>
                    <LastModificationTime>2017-02-24T12:05:17Z</LastModificationTime>
                    <CreationTime>2017-02-24T12:05:17Z</CreationTime>
                    <LastAccessTime>2017-02-24T12:05:17Z</LastAccessTime>
                    <ExpiryTime>4001-01-01T00:00:00Z</ExpiryTime>
                    <Expires>False</Expires>
                    <UsageCount>0</UsageCount>
                    <LocationChanged>2017-02-24T12:05:17Z</LocationChanged>
                </Times>
                <IsExpanded>False</IsExpanded>
                <DefaultAutoTypeSequence/>
                <EnableAutoType>null</EnableAutoType>
                <EnableSearching>null</EnableSearching>
                <LastTopVisibleEntry>AAAAAAAAAAAAAAAAAAAAAA==</LastTopVisibleEntry>
                {% for entry in content %}
                <Entry>
                    <UUID>{{ random(500, 999999999) }}</UUID>
                    <IconID>1</IconID>
                    <ForegroundColor/>
                    <BackgroundColor/>
                    <OverrideURL/>
                    <Tags/>
                    <Times>
                        <LastModificationTime>2017-02-24T12:06:04Z</LastModificationTime>
                        <CreationTime>2017-02-24T12:05:31Z</CreationTime>
                        <LastAccessTime>2017-02-24T12:05:31Z</LastAccessTime>
                        <ExpiryTime>4001-01-01T00:00:00Z</ExpiryTime>
                        <Expires>False</Expires>
                        <UsageCount>0</UsageCount>
                        <LocationChanged>2017-02-24T12:05:31Z</LocationChanged>
                    </Times>
                    {% for string in entry %}
                    <String>
                        <Key>{{string.name}}</Key>
                        <Value>{{string.value}}</Value>
                    </String>
                    {% endfor %}
                    <AutoType>
                        <Enabled>True</Enabled>
                        <DataTransferObfuscation>0</DataTransferObfuscation>
                    </AutoType>
                    <History/>
                </Entry>
                {% endfor %}
            </Group>
            <Group>
                <UUID>kvTh5W65ScGrCTo15o9b2Q==</UUID>
                <Name>EMail</Name>
                <Notes/>
                <IconID>19</IconID>
                <Times>
                    <LastModificationTime>2017-02-24T12:05:17Z</LastModificationTime>
                    <CreationTime>2017-02-24T12:05:17Z</CreationTime>
                    <LastAccessTime>2017-02-24T12:05:17Z</LastAccessTime>
                    <ExpiryTime>4001-01-01T00:00:00Z</ExpiryTime>
                    <Expires>False</Expires>
                    <UsageCount>0</UsageCount>
                    <LocationChanged>2017-02-24T12:05:17Z</LocationChanged>
                </Times>
                <IsExpanded>False</IsExpanded>
                <DefaultAutoTypeSequence/>
                <EnableAutoType>null</EnableAutoType>
                <EnableSearching>null</EnableSearching>
                <LastTopVisibleEntry>AAAAAAAAAAAAAAAAAAAAAA==</LastTopVisibleEntry>
            </Group>
            <Group>
                <UUID>sYJaiacNTA603hbyUI7hLg==</UUID>
                <Name>Homebanking</Name>
                <Notes/>
                <IconID>37</IconID>
                <Times>
                    <LastModificationTime>2017-02-24T12:05:17Z</LastModificationTime>
                    <CreationTime>2017-02-24T12:05:17Z</CreationTime>
                    <LastAccessTime>2017-02-24T12:05:17Z</LastAccessTime>
                    <ExpiryTime>4001-01-01T00:00:00Z</ExpiryTime>
                    <Expires>False</Expires>
                    <UsageCount>0</UsageCount>
                    <LocationChanged>2017-02-24T12:05:17Z</LocationChanged>
                </Times>
                <IsExpanded>False</IsExpanded>
                <DefaultAutoTypeSequence/>
                <EnableAutoType>null</EnableAutoType>
                <EnableSearching>null</EnableSearching>
                <LastTopVisibleEntry>AAAAAAAAAAAAAAAAAAAAAA==</LastTopVisibleEntry>
            </Group>
        </Group>
        <DeletedObjects/>
    </Root>
</KeePassFile>